<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tad.mapper.UserMapper">
    <select id="getUserById" resultType="com.tad.dto.UserInfoDto">
        select * from t_userinfo where user_id = #{id}
    </select>
</mapper>